// COLORS
$color-primary-50: #ebf1ff;
$color-primary-100: #d7e3ff;
$color-primary-200: #afc7ff;
$color-primary-300: #87aaff;
$color-primary-400: #5f8eff;
$color-primary-500: #3772ff;
$color-primary-600: #2c5bcc;
$color-primary-700: #214499;
$color-primary-800: #162e66;
$color-primary-900: #0b1733;

// FONTS
$font-primary: 'Montserrat', sans-serif;
